<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hctech2006.softcup.isomerase.mapper.NlDatabaseMapper">
  <resultMap id="BaseResultMap" type="cn.hctech2006.softcup.isomerase.bean.NlDatabase">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="db_id" jdbcType="VARCHAR" property="dbId" />
    <result column="db_name" jdbcType="VARCHAR" property="dbName" />
    <result column="db_url" jdbcType="VARCHAR" property="dbUrl" />
    <result column="db_type" jdbcType="VARCHAR" property="dbType" />
    <result column="db_user" jdbcType="VARCHAR" property="dbUser" />
    <result column="db_tpassword" jdbcType="VARCHAR" property="dbTpassword" />
    <result column="db_time" jdbcType="TIMESTAMP" property="dbTime" />
    <result column="db_database" jdbcType="VARCHAR" property="dbDatabase" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from nl_database
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.hctech2006.softcup.isomerase.bean.NlDatabase">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into nl_database (id, db_id, db_name, 
      db_url, db_type, db_user, 
      db_tpassword, db_time, db_database
      )
    values (#{id,jdbcType=INTEGER}, #{dbId,jdbcType=VARCHAR}, #{dbName,jdbcType=VARCHAR}, 
      #{dbUrl,jdbcType=VARCHAR}, #{dbType,jdbcType=VARCHAR}, #{dbUser,jdbcType=VARCHAR}, 
      #{dbTpassword,jdbcType=VARCHAR}, #{dbTime,jdbcType=TIMESTAMP}, #{dbDatabase,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.hctech2006.softcup.isomerase.bean.NlDatabase">
    update nl_database
    set db_id = #{dbId,jdbcType=VARCHAR},
      db_name = #{dbName,jdbcType=VARCHAR},
      db_url = #{dbUrl,jdbcType=VARCHAR},
      db_type = #{dbType,jdbcType=VARCHAR},
      db_user = #{dbUser,jdbcType=VARCHAR},
      db_tpassword = #{dbTpassword,jdbcType=VARCHAR},
      db_time = #{dbTime,jdbcType=TIMESTAMP},
      db_database = #{dbDatabase,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, db_id, db_name, db_url, db_type, db_user, db_tpassword, db_time, db_database
    from nl_database
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, db_id, db_name, db_url, db_type, db_user, db_tpassword, db_time, db_database
    from nl_database
  </select>
</mapper>