<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hctech2006.softcup.isomerase.mapper.NlModelMapper">
  <resultMap id="BaseResultMap" type="cn.hctech2006.softcup.isomerase.bean.NlModel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ml_id" jdbcType="VARCHAR" property="mlId" />
    <result column="ml_name" jdbcType="VARCHAR" property="mlName" />
    <result column="ml_intro" jdbcType="VARCHAR" property="mlIntro" />
    <result column="show_flag" jdbcType="VARCHAR" property="showFlag" />
    <result column="ml_algo" jdbcType="VARCHAR" property="mlAlgo" />
    <result column="ml_result" jdbcType="VARCHAR" property="mlResult" />
    <result column="ml_time" jdbcType="TIMESTAMP" property="mlTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from nl_model
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.hctech2006.softcup.isomerase.bean.NlModel">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into nl_model (id, ml_id, ml_name, 
      ml_intro, show_flag, ml_algo, 
      ml_result, ml_time)
    values (#{id,jdbcType=INTEGER}, #{mlId,jdbcType=VARCHAR}, #{mlName,jdbcType=VARCHAR}, 
      #{mlIntro,jdbcType=VARCHAR}, #{showFlag,jdbcType=VARCHAR}, #{mlAlgo,jdbcType=VARCHAR}, 
      #{mlResult,jdbcType=VARCHAR}, #{mlTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.hctech2006.softcup.isomerase.bean.NlModel">
    update nl_model
    set ml_id = #{mlId,jdbcType=VARCHAR},
      ml_name = #{mlName,jdbcType=VARCHAR},
      ml_intro = #{mlIntro,jdbcType=VARCHAR},
      show_flag = #{showFlag,jdbcType=VARCHAR},
      ml_algo = #{mlAlgo,jdbcType=VARCHAR},
      ml_result = #{mlResult,jdbcType=VARCHAR},
      ml_time = #{mlTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, ml_id, ml_name, ml_intro, show_flag, ml_algo, ml_result, ml_time
    from nl_model
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, ml_id, ml_name, ml_intro, show_flag, ml_algo, ml_result, ml_time
    from nl_model
  </select>
</mapper>