<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hctech2006.softcup.isomerase.mapper.SysDeptMapper">
  <resultMap id="BaseResultMap" type="cn.hctech2006.softcup.isomerase.bean.SysDept">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="dept_logo" jdbcType="VARCHAR" property="deptLogo" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
  </resultMap>
  <resultMap id="deptUserMap" type="cn.hctech2006.softcup.isomerase.bean.SysDept" extends="BaseResultMap">
    <collection property="userList"
                fetchType="lazy"
                column="{deptId=id}"
                select="cn.hctech2006.softcup.isomerase.mapper.SysUserMapper.findByDeptId"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_dept
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="cn.hctech2006.softcup.isomerase.bean.SysDept">

    insert into sys_dept (id, name, dept_logo, 
      parent_id, create_by, create_time, 
      last_update_time, last_update_by, del_flag
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{deptLogo,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=BIGINT}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lastUpdateTime,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=VARCHAR}, #{delFlag,jdbcType=TINYINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.hctech2006.softcup.isomerase.bean.SysDept">
    update sys_dept
    set
    <if test="name != null and name != ''">
      name = #{name,jdbcType=VARCHAR},
    </if>
    <if test="deptLogo != null and deptLogo != ''">
      dept_logo = #{deptLogo,jdbcType=VARCHAR},
    </if>
    <if test="parentId != null and parentId != ''">
      parent_id = #{parentId,jdbcType=BIGINT},
    </if>
    <if test="createBy != null and createBy != ''">
      create_by = #{createBy,jdbcType=VARCHAR},
    </if>
    <if test="createTime != null">
      create_time = #{createTime,jdbcType=TIMESTAMP},
    </if>
    <if test="lastUpdateTime != null">
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
    </if>
    <if test="lastUpdateBy != null and lastUpdateBy != ''">
      last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
    </if>
    <if test="delFlag != null and delFlag != ''">
      del_flag = #{delFlag,jdbcType=TINYINT},
    </if>
    id = #{id}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="deptUserMap">
    select id, name, dept_logo, parent_id, create_by, create_time, last_update_time, 
    last_update_by, del_flag
    from sys_dept
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" parameterType="cn.hctech2006.softcup.isomerase.bean.SysDept" resultMap="BaseResultMap">
    select id, name, dept_logo, parent_id, create_by, create_time, last_update_time, 
    last_update_by, del_flag
    from sys_dept
    where
        1 = 1
    <if test="id != null and id != ''">
      and id = #{id}
    </if>
    <if test="name != null and name != ''">
      and name like concat('%',#{name},'%')
    </if>
    <if test="parentId != null and parentId != ''">
      and parent_id = #{parentId}
    </if>
    <if test="delFlag != null">
      and del_flag = #{delFlag}
    </if>
  </select>
  <select id="selectDeptByArticleId"  resultMap="BaseResultMap">
    select
    sd.id, sd.name, sd.dept_logo, sd.parent_id, sd.create_by, sd.create_time, sd.last_update_time, sd.last_update_by, sd.del_flag
from sys_dept sd , sys_dept_article sda
where sd.id = sda.dept_id and sda.article_id = #{articleId}
  </select>
  <select id="selectDeptByParentId" resultMap="BaseResultMap">
    select
    id, name, dept_logo, parent_id, create_by, create_time, last_update_time, last_update_by, del_flag
from sys_dept
where parent_id = #{parentId}
  </select>
</mapper>