<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hctech2006.softcup.isomerase3.mapper.NlFieldMapper">
  <resultMap id="BaseResultMap" type="cn.hctech2006.softcup.isomerase3.bean.NlField">
    <id column="filed_id" jdbcType="VARCHAR" property="filedId" />
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="main_id" jdbcType="VARCHAR" property="mainId" />
    <result column="field_name" jdbcType="VARCHAR" property="fieldName" />
    <result column="field_value" jdbcType="VARCHAR" property="fieldValue" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="chart_type" jdbcType="VARCHAR" property="chartType" />
    <result column="chart_option" jdbcType="VARCHAR" property="chartOption" />
  </resultMap>
  <resultMap id="ChartResultMap" type="cn.hctech2006.softcup.isomerase3.vo.ChartBean">
    <result column="field_value" jdbcType="VARCHAR" property="fieldValue" />
    <result column="chart_type" jdbcType="VARCHAR" property="chartType" />
    <result column="chart_option" jdbcType="VARCHAR" property="chartOption" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from nl_field
    where filed_id = #{filedId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.hctech2006.softcup.isomerase3.bean.NlField">
    insert into nl_field (filed_id, id, main_id, 
      field_name, field_value, table_name, 
      del_flag, chart_type, chart_option)
    values (#{filedId,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, #{mainId,jdbcType=VARCHAR}, 
      #{fieldName,jdbcType=VARCHAR}, #{fieldValue,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=VARCHAR}, #{chartType, jdbcType=VARCHAR}, #{chartOption})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.hctech2006.softcup.isomerase3.bean.NlField">
    update nl_field
    set id = #{id,jdbcType=INTEGER},
      main_id = #{mainId,jdbcType=VARCHAR},
      field_name = #{fieldName,jdbcType=VARCHAR},
      field_value = #{fieldValue,jdbcType=VARCHAR},
      table_name = #{tableName,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
        chart_type=#{chartType, jdbcType=VARCHAR},
        chart_option=#{chartOption}
    where filed_id = #{filedId,jdbcType=VARCHAR}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select filed_id, id, main_id, field_name, field_value, table_name, del_flag, chart_type, chart_option
    from nl_field
    where filed_id = #{filedId,jdbcType=VARCHAR}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select filed_id, id, main_id, field_name, field_value, table_name, del_flag, chart_type, chart_option
    from nl_field
  </select>

  <select id="selectByMainId" parameterType="String" resultMap="BaseResultMap">
    select
         field_name, field_value, chart_type, chart_option
    from nl_field  where 1=1
    <if test="mainId != null and mainId != ''">
      and main_id=#{mainId}
    </if>
        group by field_name, field_value ,chart_type, chart_option
  </select>

  <select id="selectFieldNameByMainId" parameterType="String" resultType="String">
    select distinct field_name from nl_field where main_id=#{mainId}
  </select>

  <select id="selectFieldValueByMainIdAndFieldName" parameterType="list" resultType="String">
    select distinct field_value, chart_type, chart_option from nl_field where main_id=#{mainId} and field_name=#{fieldName}
  </select>
  <select id="selectChartTypeByMainIdAndFieldName" parameterType="String" resultType="String">
    select distinct chart_type from nl_field where main_id=#{mainId} and field_name=#{fieldName}
  </select>
  <select id="selectChartOptionByMainIdAndFieldName" parameterType="String" resultType="String">
    select distinct chart_option from nl_field where main_id=#{mainId} and field_name=#{fieldName}
  </select>
</mapper>