<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hctech2006.softcup.isomerase.mapper.NlCminfoMapper">
  <resultMap id="BaseResultMap" type="cn.hctech2006.softcup.isomerase.bean.NlCminfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cm_id" jdbcType="VARCHAR" property="cmId" />
    <result column="cpu_rate" jdbcType="VARCHAR" property="cpuRate" />
    <result column="mem_rate" jdbcType="VARCHAR" property="memRate" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from nl_cminfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="cn.hctech2006.softcup.isomerase.bean.NlCminfo">

    insert into nl_cminfo (id, cm_id, cpu_rate, 
      mem_rate, time)
    values (#{id,jdbcType=INTEGER}, #{cmId,jdbcType=VARCHAR}, #{cpuRate,jdbcType=VARCHAR}, 
      #{memRate,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.hctech2006.softcup.isomerase.bean.NlCminfo">
    update nl_cminfo
    set cm_id = #{cmId,jdbcType=VARCHAR},
      cpu_rate = #{cpuRate,jdbcType=VARCHAR},
      mem_rate = #{memRate,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, cm_id, cpu_rate, mem_rate, time
    from nl_cminfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, cm_id, cpu_rate, mem_rate, time
    from nl_cminfo
  </select>
</mapper>